---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title=`404: Not Found | ${SITE.title}`>
  <Header />
  <div id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <LinkButton href="/" class="link-button"> Go Back Home</LinkButton>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-4xl flex-1 items-center justify-center;
  }

  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }

  .not-found-wrapper h1 {
    @apply text-8xl font-bold text-skin-accent;
  }

  .link-button {
    @apply my-6 text-lg underline decoration-dashed underline-offset-8;
  }
</style>
