---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title=`About | ${SITE.title}`>
  <Header activeNav="about" />
  <main id="main-content">
    <section id="about">
      <h1>About Us</h1>
      <hr id="fancy-break" />
      <p>
        Willis (B. Ec, CA, JP) brings extensive experience to our practice,
        having worked with large international and ASX-listed companies across
        various industries, as well as with small businesses. At Willis Wang, we
        address all your accounting and taxation needs with expertise and
        dedication.
      </p>
      <p>
        We prepare a comprehensive range of tax returns and financial
        statements, catering to individuals, family businesses, and companies.
        Utilizing the latest technology and software, we deliver efficient and
        reliable services you can count on.
      </p>
    </section>

    <section id="about-us-google-maps">
      <h2>Google Maps</h2>
      <iframe
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://maps.google.com/maps?width=600&height=400&hl=en&q=15 Atchinson Street, St Leonards&t=&z=15&ie=UTF8&iwloc=B&output=embed"
      ></iframe>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto max-w-4xl px-4;
  }

  #fancy-break {
    @apply mb-4 w-[200px] items-start border-2;
    @apply border-skin-accent;
  }

  section {
    @apply px-4;
    @apply text-center;
  }

  #about {
    @apply ml-auto flex flex-col pt-8;

    h1 {
      @apply inline-block;
      @apply my-4 text-3xl font-bold sm:my-2;
    }

    p {
      @apply text-left;
      @apply pb-4;
    }
  }

  #about-us-google-maps {
    @apply flex flex-col gap-4;
    @apply pb-4 text-left text-xl font-semibold;

    iframe {
      @apply min-h-[400px];
    }
  }
</style>
