---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ServicesBanner from "@components/ServicesBanner.astro";
import Carousel from "@components/ReactComponents/Carousel";
import { SITE } from "@config";

const OPTIONS = { loop: true };
const SLIDES = await Astro.glob("/src/assets/Images/*").then(files => {
  return files.map(file => file.default.src);
});
---

<Layout title=`${SITE.title}`>
  <Header />
  <main id="main-content">
    <section id="hero">
      <Carousel client:load slides={SLIDES} options={OPTIONS} />
      <h1>
        Welcome to <span>Weichen (Willis) Wang</span> Chartered Accountants
      </h1>

      <p>
        At Willis Wang, we pride ourselves on delivering highly professional and
        personalized services designed to address all your accounting and
        taxation needs. Our expert team is committed to understanding your
        unique situation and providing tailored solutions to ensure your
        financial matters are handled efficiently and effectively. Whether
        you're an individual or a business, we offer dedicated support to
        navigate complex accounting and taxation challenges with confidence.
      </p>
    </section>

    <section id="services-information">
      <h2>Services We Provide</h2>

      <hr id="fancy-break" />

      <div id="services-types-of-services">
        <ServicesBanner
          serviceName="Accounting"
          serviceIcon="accounting"
          serviceDescriptionDotpoints={[
            "Accounting and Bookkeeping",
            "Financial Statements",
            "Payroll and Super Guarantee",
            "Starting Up a New Business",
            "Cash Flow Forecasting",
            "Tracking Performance",
            "Secretarial Duties",
            "Accounting Software",
          ]}
        />
        <ServicesBanner
          serviceName="Taxation"
          serviceIcon="taxation"
          serviceDescriptionDotpoints={[
            "Income Tax",
            "Capital Gains Tax",
            "Fringe Benefits Tax (FBT)",
            "Goods and Services Tax (GST & BAS)",
            "Payroll Tax",
            "Pay As You Go Taxation (PAYG)",
            "Stamp Duty",
          ]}
        />
        <ServicesBanner
          serviceName="Financial Planning"
          serviceIcon="financial-planning"
          serviceDescriptionDotpoints={[
            "Making a Financial Plan",
            "Superannuation",
            "Contributions to a Super Fund",
            "Self-Managed Super Funds (SMSFs)",
            "Inheritance",
            "Retirement",
            "Estate Planning",
          ]}
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  section {
    @apply mx-auto max-w-4xl px-4;
    @apply text-center;
  }

  #fancy-break {
    @apply mx-auto mb-4 w-[200px] border-2;
    @apply border-skin-accent;
  }

  #hero {
    @apply flex flex-col items-center pb-6 pt-8;
  }

  #hero h1 {
    @apply inline-block;
    @apply my-2 pt-2 text-3xl font-bold tracking-tight sm:my-4 sm:text-5xl;

    span {
      @apply text-skin-accent underline underline-offset-2;
    }
  }

  #services-information {
    @apply py-4 sm:py-8;
    @apply flex flex-col gap-4;

    h2 {
      @apply text-3xl font-semibold;
    }
  }

  #services-types-of-services {
    @apply flex flex-col gap-4 sm:grid sm:grid-cols-3;
  }
</style>
