---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ServicesBanner from "@components/ServicesBanner.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Welcome to Lorem Ipsum Accountants</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget posuere
        turpis. Integer molestie dapibus aliquam. Nulla a purus vestibulum,
        suscipit massa at, lobortis lorem. Aliquam tempor vulputate tortor sed
        tempus.
      </p>
    </section>

    <section id="services-information">
      <h2>Services We Provide</h2>
      <div id="services-types-of-services">
        <ServicesBanner
          serviceName="Accounting"
          serviceIcon="accounting"
          serviceDescriptionDotpoints={[
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
          ]}
        />
        <ServicesBanner
          serviceName="Taxation"
          serviceIcon="taxation"
          serviceDescriptionDotpoints={[
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
          ]}
        />
        <ServicesBanner
          serviceName="Financial Planning"
          serviceIcon="financial-planning"
          serviceDescriptionDotpoints={[
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
            "Lorem Ipsum",
          ]}
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  section {
    @apply mx-auto max-w-4xl px-4;
    @apply text-center;
  }

  #hero {
    @apply flex flex-col items-center pb-6 pt-8;
  }

  #hero h1 {
    @apply inline-block;
    @apply my-2 text-3xl font-bold sm:my-4 sm:text-5xl;
  }

  #services-information {
    @apply py-8;
    @apply flex flex-col gap-4;

    h2 {
      @apply text-3xl font-semibold;
    }
  }

  #services-types-of-services {
    @apply flex flex-col gap-4 sm:grid sm:grid-cols-3;
  }
</style>
