<button id="book-now-button" class="group"
  ><div id="book-now-text">Book Now</div></button
>

<style>
  #book-now-button {
    @apply w-fit border-2 border-skin-accent p-2;
    @apply transition hover:pl-4;
  }

  #book-now-text {
    @apply transition group-hover:translate-x-[-8px];
  }
</style>
