---
import AccountingIcon from "@assets/Icons/AccountingIcon.astro";
import FinancialPlanningIcon from "@assets/Icons/FinancialPlanningIcon.astro";
import TaxationIcon from "@assets/Icons/TaxationIcon.astro";

export interface Props {
  serviceName: string;
  serviceIcon: "taxation" | "accounting" | "financial-planning";
  serviceDescriptionDotpoints: string[];
}

const { serviceName, serviceIcon, serviceDescriptionDotpoints } = Astro.props;
---

<div id="service-banner">
  <div id="service-banner-icon">
    {
      serviceIcon === "taxation" && (
        <TaxationIcon
          height="48"
          width="48"
          class="fill-skin-line-variant-two"
        />
      )
    }
    {
      serviceIcon === "accounting" && (
        <AccountingIcon
          height="48"
          width="48"
          class="fill-skin-line-variant-one"
        />
      )
    }
    {
      serviceIcon === "financial-planning" && (
        <FinancialPlanningIcon
          height="48"
          width="48"
          class="fill-skin-line-variant-three"
        />
      )
    }
  </div>

  <h3>{serviceName}</h3>

  <div id="services-break-line">
    <hr
      class={serviceIcon === "taxation"
        ? "border-skin-line-variant-two"
        : serviceIcon === "accounting"
          ? "border-skin-line-variant-one"
          : "border-skin-line-variant-three"}
    />
  </div>

  <ul
    class={serviceIcon === "taxation"
      ? "marker:text-skin-accent-variant-two"
      : serviceIcon === "accounting"
        ? "marker:text-skin-accent-variant-one"
        : "marker:text-skin-accent-variant-three"}
    id="services-dotpoints"
  >
    {serviceDescriptionDotpoints.map(dotpoint => <li>{dotpoint}</li>)}
  </ul>
</div>

<style>
  #service-banner {
    @apply flex flex-col;
  }

  #service-banner-icon {
    @apply flex flex-row justify-center pb-2;
  }

  #services-dotpoints {
    @apply text-left;
  }

  #services-break-line {
    @apply w-auto;
    @apply py-4;

    hr {
      @apply border-2;
    }
  }

  ul {
    @apply ms-8 list-outside list-disc;
  }

  li {
    @apply mb-2 text-left;
  }

  h3 {
    @apply text-xl font-bold;
  }
</style>
